.check-in-out-page {
  padding: 1em;
}
.check-in-out-page h1 {
  color: var(--green-50);
}
.check-in-out-page .who-checking {
  font-weight: bold;
}
.check-in-out-page .select-all-text {
  text-transform: uppercase;
}
.check-in-out-page .checkbox-pattern label {
  color: var(--green-50);
}
.check-in-out-page .button-div {
  display: inline-block;
  width: 49%;
}
.check-in-out-page .button-div .select-all-button,
.check-in-out-page .button-div .check-in-button {
  display: block;
  margin: auto;
}
.check-in-out-page .button-div .check-in-button {
  background-color: var(--green-50);
  background-image: linear-gradient(#9ec789, var(--green-50));
}
.check-in-out-page .button-div .disabled {
  background-color: var(--gray217);
  background-image: none;
}
.check-in-out-page .logged-in-name {
  position: fixed;
  bottom: 10px;
  right: 100px;
}
